
.grid{
    place-self: center;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 10px;
    width: 950px;
}
.selected{
    background-color: blue;
}
.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}